  <header>
      <div class="navbar navbar-inverse navbar-fixed-top" style="margin:0;">
          <div class="container-fluid">
              <!-- <div class="pull-left" style="height:50px; width:35px;" ng-hide="myLeftAside.$isOpen"> -->
                  <!-- <a href="#" class="titip-right" data-title="Toggle Aside" data-aside-toggle="#leftMenuAside" style="padding-top:15px; font-size:14px; color:#fff;"> -->
                      <!-- <i class="glyphicon glyphicon-menu-hamburger"></i> -->
                  <!-- </a> -->
              <!-- </div> -->

              <div class="navbar-header-right">
                  <button type="button" class="navbar-toggle" data-nq-collapse="" data-target-id=".navbar-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
              </div>
              <div class="navbar-header">
                  <a class="navbar-brand" ui-sref="home" style="padding:5px 15px;">
                      <img class="img-responsive" src="img/logo.png" alt="Logo"/>
                  </a>
              </div>

              <!-- Save this to the database? -->
              <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right"> 
                      <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="home">Home Page</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="aboutme">About Me</a></li>                      
                      <li>
                          <a role="button" tabindex="1" data-nq-dropdown="" data-qo-placement="bottom-right">Skills<span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" tabindex="-1" role="menu">
                              <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="skills({foo: 'Databases'})">Databases</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="skills({foo: 'Languages'})">Languages</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="skills({foo: 'Tools'})">Tools</a></li>
                              <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="skills({foo: 'Operating Systems'})">Operation System</a></li>
                          </ul>
                      </li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="works">Work Experience</a></li>
                      <li role="presentation"><a role="menuitem" tabindex="-1" ui-sref="contactme">Contact Me</a></li>

                  </ul>
              </div>

          </div>
      </div>
  </header>
